<div class = "static-head-container">
<div class = "overlay writing-overlay">
	<div class = "home-head-text">
		<h2 id = "static-head-text"><%= link_to "Tom Bonan", root_path %></h2>
		<h2 id = "title">Writing</h2>
	</div>
</div>
</div>
<div class = "publications-container">
	<ul class = "publications">
		<li class="active"><a href="http://bucknellian.net/staff/?writer=Tom%20Bonan" id = "bucknellian" target="_blank"><i class="pe-7s-news-paper pe-lg pe-va"></i><span class="outside-links">The Bucknellian</span></a></li>
		<li class="active"><a href="http://campusvinyl.com/bucknellu/author/tom-bonan/" id = "cv" target="_blank"><i class="pe-7s-musiclist pe-lg pe-va"></i><span class="outside-links">Campus Vinyl</span></a></li>
		<li class="active"><a href="http://lit.blogs.bucknell.edu/author/tlb018/" id = "lib" target="_blank"><i class = "pe-7s-display2 pe-lg pe-va"></i><span class="outside-links">Bucknell University Archives</span></a></li>
	</ul>
</div>