<div class = "static-head-container">
<div class = "overlay writing-overlay">
	<div class = "home-head-text">
		<h2 id = "static-head-text"><%= link_to "Tom Bonan", root_path %></h2>
		<div id = "writing-divider"></div>
		<h2 id = "title">Writing</h2>
	</div>
</div>
</div>