<% provide(:title, 'Portfolio') %>
<div class="portfolio-header">
</div>

<div class="portfolio-header-two">
  <h1>Tom Bonan Portfolio</h1>
</div>

<div class="portfolio-header-three">
  <p>
    This is some body text.
  </p>
</div>

<div class="portfolio-body">
</div>

<div class="portfolio-footer">
  <ul class = "portfolio-nav">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Writing", writings_path %></li>
    <li><p id = "portfolio">Portfolio</p></li>
  </ul>
</div>
