@font-face {
    font-family: 'Geogrotesque';
    src: asset-url('Geogrotesque-regular.eot');
    src: asset-url('Geogrotesque-regular.eot?#iefix') format('embedded-opentype'),
         asset-url('Geogrotesque-regular.woff2') format('woff2'),
         asset-url('Geogrotesque-regular.woff') format('woff'),
         asset-url('Geogrotesque-regular.ttf') format('truetype'),
         asset-url('Geogrotesque-regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
