// Place all the styles related to the Writings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Writings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3, p {
	margin: 0;
	padding: 0;
}

/* -- writing header -- */

.static-head-container {
	width: 100%;
	height: 300px;
	background: url(image_path('background.jpg')) no-repeat center center; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.writing-overlay {
    bottom: 0;
    height: 200px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
	background: rgba(20, 20, 20, 0.30);
	height: 300px;
}

.home-head-text {
	width: 80%;
	margin: 60px auto 0px;
	padding-top: 15px;
	text-align: center;
}

#static-head-text {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    padding: 5px;
}

#static-head-text a {
	transition: opacity 0.2s;
}

#static-head-text a:hover {
	opacity: 0.6;
}

#title {
	font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    color: #fff;
    letter-spacing: 2px;
    font-size: 16px;
}

#writing-divider {
	margin: 0 auto 10px;
	width: 80px;
	height: 1px;
	background-color: #fff;
}

/* -- index css -- */

 .writing-link {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 300px;
	border-bottom: 1px solid #bebebe;
	background-color: #fff;
}


.writing-link-content {
	width: 82%;
	margin: 0 auto;
	position: relative;
	top: 50%;
  	transform: translateY(-50%);

}

/*
.writing-link:hover {
	background-color: #bd662e;
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
*/

.bucknellian-article-hover:hover {
	background-color: #1f5a7f;
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.cv-article-hover:hover {
	background-color: #bd662e;
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.lib-article-hover:hover {
	background-color: #5281AA;
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.etc-article-hover:hover {
	background-color: #fe938c;
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
}




.writing-link:hover .writing-link-content h3, .writing-link:hover .writing-link-content p, .writing-link:hover .writing-link-content #writing-date, .writing-link:hover #writing-pub {
	color: #fff;
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.writing-link-content h3 {
	font-family: 'Open Sans', sans-serif;
   	font-weight: 400;
   	font-size: 50px; 
	color: #484848;
	letter-spacing: 1px;
}

.writing-link-content p {
   	margin-left: 2px;
   	padding-bottom: 10px;
   	font-size: 16px;
}

#writing-pub {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
   	color: #f99d78;
}

#writing-date {
	font-family: 'Raleway', sans-serif;
   	font-weight: 200;
	color: #484848;
	letter-spacing: 0px;
}

.publications-container {
	width: 100%;
	border-bottom: 1px solid #bebebe;
	height: 70px;
	background-color: #fff;
}

.publications-container ul {
	font-family: 'Raleway', sans-serif;
    font-weight: 100; 
    color: #989898;
    font-size: 22px;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.publications li {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 70px;
}

.outside-links {
	padding-left: 8px;
}

#bucknellian:hover {  			
	color: #2D81B7;
	transition: all 0.5s;
    -webkit-transition: all 0.5s ease-in-out;
}

#cv:hover {
	color: #ca8457;
	transition: all 0.5s;
    -webkit-transition: all 0.5s ease-in-out;
}

#lib:hover {
	color: #5281AA;
	transition: all 0.5s;
    -webkit-transition: all 0.5s ease-in-out;
}

.writing-about {
	padding-top: 1px;
	width: 100%;
	border-bottom: 1px solid #bebebe;
	background-color: #fff;
}

.writing-about p {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.4;
	font-style: normal;
	color: #6a6a6a;
	width: 66%;
	margin-right: auto;
	margin-left: auto;
	text-align: justify;
}

.writing-about p{
	margin-top: 30px;
	margin-bottom: 30px;
}


/* -- show page -- */
.writing-wrapper {
	margin-left: 260px;
	width: 80%;
}

.writing-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-top: 70px;
	margin-bottom: 20px;
	font-size: 50px; 
	color: #484848;
}

.writing-content {
	width: 762px;
	margin-bottom: 160px;
}

#published-in {
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    color: #282828;
}

#writing-show-date {
	margin-top: 4px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #282828;
}

.writing-content p {
	line-height: 1.6;
	color: #737373;
	font-style: normal;
	font-family: 'Open Sans', serif;
	font-weight: 400;
	font-size: 14px;
}

.writing-content p a {
	color: #f99d78;
	transition: 0.3s all;
}

.writing-content p a:hover {
	color: #282828;
}

#back-link {
	font-style: italic;
	margin-bottom: 60px;
}

@media only screen and (max-width: 1100px)  {
	.writing-wrapper {
		margin-left: 100px;
	}
}

@media only screen and (max-width: 900px)  {
	.writing-wrapper {
		margin: 0 auto;
		width: 88%;
	}

	.writing-content {
		width: 100%;
	}
}

@media only screen and (max-width: 700px)  {
	.writing-title {
		font-size: 34px; 
	}

	#static-head-text {
		font-size: 30px;
	}

	.writing-link-content h3 {
		font-size: 30px;
	}

	.writing-link {
		height: 240px;
	}

	.writing-link-content p {
		font-size: 14px;
	}


}

@media only screen and (max-width: 570px)  {
	.static-head-container, .writing-overlay {
		height: 200px;
	}

}



/* --

.writing-content {
	width: 620px;
	margin-left: 20%;
}

#writing-show-date {
	margin-bottom: 40px;
	font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #747474;
}

.article-line {
	margin-top: 30px;
	margin-bottom: 160px;
	height: 1px;
	background-color: rgba(0,0,0,0.2);
	width: 620px;
}

 @media only screen and (max-width: 850px)  {
	.writing-content {
		width: 90%;
		margin: 0 auto;
	}

	.writing-title {
		margin-left: 5%;
	}
 }

 @media only screen and (max-width: 650px)  {
	.writing-title {
		font-size: 30px;
		margin-bottom: 10px;
	}
 }

*/


/* -- form css -- */

.form-container h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

.form-text {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 16px;

	padding-bottom: 15px;
	padding-top: 15px;
}

input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
}


textarea:focus, input:focus {
	border: 1px solid #0078e7;
}

.form-container {
	width: 50%;
	margin: 0 auto;
}

textarea {
    height: 100px;
    width: 80%;
    text-align: left;
}


 .new-album-submit {
  color: black;
  font-family: inherit;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: none;
  border: 1px dotted #0078e7;
}

 .new-album-submit:hover {
 	cursor: pointer;
 	background-color: #fff;
 	color: #fff;
 	background-color: #0078e7;
	transition: background-color 0.1s linear;
 }


 @media only screen and (max-width: 890px)  {
	.publications-container ul {
    	font-size: 16px;
	}

	.publications li {
		margin-left: 12px;
		margin-right: 12px;
	}

	.writing-about p {
		width: 94%;
	}
}

@media only screen and (max-width: 650px)  {
	.publications-container ul {
    	font-size: 12px;
	}

	.publications li {
		margin-left: 4px;
		margin-right: 4px;
	}
}

@media only screen and (max-width: 470px)  {
	.publications-container ul {
		margin-left: -7%;
	}

	.publications li {
		margin-left: 2px;
		margin-right: 2px;
	}

	.active a i {
		display: none;
	}

	.writing-about {
		display: none;
	}
}

@media only screen and (max-width: 400px) {
	.publications-container ul {
		margin-left: -9%;
	}
}

@media only screen and (max-width: 380px) {
	.publications-container ul {
		margin-left: -12%;
	}

	.publications li {
		margin-left: 1px;
		margin-right: 1px;
	}
}

@media only screen and (max-width: 330px) {
	.publications-container ul {
		margin-left: -14%;
	}

	#gone {
		display: none;
	}
}



